[submodule "projects/probing"]
	path = projects/probing
	url = git@github.com:DeepLink-org/probing.git
[submodule "projects/Probing_plus"]
	path = projects/Probing_plus
	url = git@github.com:Kingsley-Yoimiya/Probing.git
[submodule "projects/probing-test"]
	path = projects/probing-test
	url = git@github.com:Kingsley-Yoimiya/probing-test.git
[submodule "projects/CARD_SCREEN"]
	path = projects/CARD_SCREEN
	url = git@github.com:ShilohYu/CARD_SCREEN.git
